/* Budget App Styling:- */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f8fd;
  text-align: left;
}
header {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.leftBox,
.rightBox {
  background-color: white;
  width: 19rem;
  height: 40vh;
  display: inline-block;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.088);
  padding-left: 1.5rem;
  margin-top: 1rem;
}
input {
  outline: none;
  border: 1px solid #e7e7e7;
  height: 6vh;
  border-radius: 0.3rem;
  width: 16.3rem;
  padding-left: 1rem;
}
#leftbtn {
  background-color: #5a7ef1;
  border-radius: 0.3rem;
  border: none;
  color: white;
  width: 6rem;
  height: 6vh;
}
#rightbtn {
  background-color: #5a7ef1;
  border-radius: 0.3rem;
  border: none;
  color: white;
  width: 7rem;
  height: 6vh;
}
#leftbtn:hover,
#rightbtn:hover {
  cursor: pointer;
}
.center {
  background-color: #5a7ef1;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 44rem;
  border-radius: 0.3rem;
  margin-top: 2rem;
  height: 18vh;
}
footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 42rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
  height: 10vh;
  padding-left: 2rem;
}
